/* Default CSS */
html
{
    margin: 0;
    padding: 0;
    background-color: azure;
    background-image: url(../images/hill.jpeg);
    background-repeat: no-repeat;
}

/* Main page content */
.page-title
{
    margin-top: 0em;
    margin-bottom: 0em;
    font-weight: normal;
}


main
{
    background-color: lightblue;
}

#content-title
{
    font-weight: normal;
    text-align: center;
    background-color: rgba(255, 160, 122, 0.493);
    border-style: solid;
}


/* End of Main Page Content */

#main-content
{
    top:0; left:0; right:0; bottom:0; 
    margin:auto;

    height:fit-content;
    width: 90vh;

    overflow: hidden;
}

#main-content-container
{
    position: relative;
    top: -5px;
    padding: .5em;
    border: 2px;
    border-style: solid;
    background: lightcyan;
    border-color: rgb(0, 0, 0);
}


/* End of main content */

/* End of default */

/* Logo */
#LOGO
{
    background-image: url(../images/banners/happy.png);
    background-size: 100% 100%;

    margin-top: 0.2em;
    margin-bottom: 0.2em;
    border-width: 2px;

    height: 15em;
    width: 100%;
    background-repeat: no-repeat;
}

/* End of logo */

/* Pannel & Nav */
#nav-contain
{
    display: inline-flex;
    gap: 0.5em;
}

.nav-tabs
{
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 2.4em;
    top: -3px;
    margin-top: 2em;
    padding: 0 1.618em;
    border-radius: 8px 8px 0 0;
    background: lightcyan;


    border: 2px;
    border-style: solid;
}

.nav-text
{
    text-decoration: none;
    color: blue;
}

.nav-text:hover
{
    text-decoration: underline;
    color: purple;
}


/* End of pannel and nav */



/* Divider */
.divider
{
    display: block;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

/* End of divider */

/* Banner */
.page-banner
{
    background-image: url(../images/banners/projects_banner.jpg);
    background-size: 100% 100%;

    margin-top: 0.2em;
    margin-bottom: 0.2em;
    border-style: inset;
    border-width: 2px;

    height: 4em;
    background-repeat: no-repeat;

}

/* End of banner */

/* content grid */
.featured-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
}

#new-projects-featured
{
    display: flex;
    gap: 0.1em;
}

#new-projects-featured > div
{
    background-color: rgba(240, 128, 128, 0.438);
    height: 10em;
    width: 30em;
    border-style: solid;
}


#old-projects-grid
{
    padding-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8em;
}

#old-projects-grid > div
{
    height: 10em;
    border-style: solid;
    border-width: 2px;
}

.item-card-image
{
    width: 100%;
    height: 100%;
}

/* End of content grid */
