/* Default CSS */
html
{
    margin: 0;
    padding: 0;
    background-color: azure;
}

#content
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
}

.sector
{
    border-top: 10px solid transparent;
    margin-top: -5px;
    transition: transform ease 300ms;
}

.sector:hover
{
    transform: translate(0, -1px);
}

/* Header */
header
{
    background-color: lightsalmon;
}

/* Navigation */
nav
{
    background-color: lightcoral;
    margin: 1em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
}

nav > div
{
    background-color: dodgerblue;
}

.menu
{
    background-color: blueviolet;
    padding: 1em;
}

.menu li
{
    display: inline;
    background-color: red;
    list-style-type: none;
    margin-right: 10px;
    padding: 5px;
    width: 20px;
}

/* End of Navigation */

/* End of Header */

/* Main Page Content */
main
{
    background-color: lightblue;
}

/* End of Main Page Content */

/* Footer */
footer
{
    background-color: cornflowerblue;
}

/* End of Footer */

