html
{
    background-image: url(../images/random_images/event_better.png);
    background-size: 100% 100%;
}

#new-random-featured
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.2em;
}

#new-random-featured > div
{
    display: inline-block;
    height: 8em;
    width: 100%;
    border-style: solid;
}
